<% if (!userEmail) {%>
<a href="/login">Login Page</a>
<a href="/register">Registration Page</a>
<% } else { %>

<span>Logged in as: <%= userEmail %></span>
<form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>

<% } %>