<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <h1>Please log in first:</h1>
    <a href="/login" style="display: block; padding-top: 50px;">Login Page</a>
  </body>
</html>