<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>

  <h1> The full URL and its shortened form</h1>
  <p><%= shortURL %></p>
  <p><%= fullURL %></p>


</body>
</html>